h1, h2 {
  font-family: 'Lusitana', serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

.h1-glyph {
    font-size: 25px;
}

.flexcontainer {
  display: flex;
  justify-content: space-between;
}

.nolodash:hover {
  text-decoration: none;
}
